{% extends "schedule/base.html" %}

{% block headcontent %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block morejs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<h2>Generate date and locations for in-vivo events</h2>
 <form method="post">
    {% csrf_token %}

    {{ form.persons_in_charge|as_crispy_field }}
    {{ form.event_name|as_crispy_field }}

    {{ form.relevant_pillars|as_crispy_field }}
    {{form.date | as_crispy_field}}

    {{ form.duration|as_crispy_field }}


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock content %}
