{% extends "schedule/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<h2>Input class information</h2>


{% if get %}
<form method="post">
{% csrf_token %}
{{ form.module|as_crispy_field }}
<a href="/requestform/{{obj.id}}/0" type="button" class="btn btn-outline-primary confirmation" role="button">Accept</a>
<a type="submit" role="button" class="btn btn-primary">Submit</button>
</form>


{% else %}
<form method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.module|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.title|as_crispy_field }}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.pillar|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.Type|as_crispy_field }}
      </div>
    </div>

    {{ form.class_related|as_crispy_field }}

    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.duration|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.day|as_crispy_field }}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.start|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.end|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.location|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.makeup|as_crispy_field }}
      </div>
    </div>

    {{ form.description|as_crispy_field }}
    {{ form.assigned_professors|as_crispy_field }}

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock content %}
