{% extends "schedule/base.html" %}

{% load crispy_forms_tags %}

{% block morejs %}
<link rel='stylesheet' href="..\..\static\formstoadmin\forms.css">
<style>
.page-buttons{
  margin-bottom: -20px;
  margin-top: -5px;
  margin-right: 1px;
}
</style>
{% endblock %}

{% block content %}
<h2>Input class information</h2>
<a href="/input-class-info-start/">Back to module selection page</a>
{% if start %}
<form method="post">
{% csrf_token %}
{{ form.module|as_crispy_field }}
<button type="submit" class="btn btn-primary" style="float:right;">Next</button>
</form>


{% else %}
<div class="row justify-content-end page-buttons">
  <nav aria-label="...">
    <ul class="pagination">
      {% if idx == 0 %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="/input-class-info/{{mod_id}}/{{idx}}/1">Previous</a>
      </li>
      {% endif %}
      {% if idx == end_idx %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Next</a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="/input-class-info/{{mod_id}}/{{idx}}/2">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>

<form method="post">
    {% csrf_token %}

    {{ form.title|as_crispy_field }}

    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.pillar|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.Type|as_crispy_field }}
      </div>
    </div>

    {{ form.class_related|as_crispy_field }}

    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.duration|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.day|as_crispy_field }}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.start|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.end|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.location|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.makeup|as_crispy_field }}
      </div>
    </div>

    {{ form.description|as_crispy_field }}
    {{ form.assigned_professors|as_crispy_field }}

    <button type="submit" class="btn btn-primary">Update</button>
  </form>
{% endif %}

{% endblock content %}
