{% extends "schedule/base.html" %}

{% block content %}
<h2>View Requests</h2>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Course Code</th>
        <th>Related class(es)</th>
        <th>Preferred Timings</th>
        <th>Reasons</th>
    </tr>
    {% for obj in query_results %}
    <tr>
        <td> {{obj.name}} </td>
        <td> {{obj.course_code}} </td>
        <td> {{obj.class_related}} </td>
        <td> {{obj.preferred_timings}} </td>
        <td> {{obj.reasons}} </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
