{% extends "schedule/base.html" %}

{% block morejs %}
{# net::ERR_ABORTED 404 (Not Found) #}
<script src="..\..\static\formstoadmin\forms.js"></script>
<link rel='stylesheet' href="..\..\static\formstoadmin\forms.css">


{% endblock %}

{% block content %}
<h2>View Requests</h2>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Course Code</th>
        <th>Related class(es)</th>
        <th>Preferred Timings</th>
        <th>Reasons</th>
        <th>Action</th>
    </tr>
    {% for obj in query_results %}
    <tr>
        <td> {{obj.name}} </td>
        <td> {{obj.course_code}} </td>
        <td> {{obj.class_related}} </td>
        <td> {{obj.preferred_timings}} </td>
        <td> {{obj.reasons}} </td>
        <td>
            <button type="button" class="view-request-accept btn" id="btna-{{obj.id}}">Accept</button>
            <button type="button" class="view-request-reject btn" id="btnr-{{obj.id}}">Reject</button>

        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

