{% extends "schedule/base.html" %}
{% block morejs %}
<style>
div.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
</style>
{% endblock %}


{% block headcontent %}
<script>
    function runAlgo(){
        alert("waht[aojw op");
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST","/runAlgo");
        var xmlDoc;
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                alert(this.responseText);
                alert("yes");
            }
            else{
                alert("nope");
            }
        };
    alert("closing")
    }
</script>
{% endblock %}
{% block content %}
{% if not request.user.profile.is_student %}
<h2>Generate Schedule</h2>
<br>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-md">Generate Schedule</button>
</form>

{% endif %}
{% endblock content %}

