{% extends "schedule/base.html" %}

{% block headcontent %}
<link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
<script src='C:\Users\Tea\Desktop\50.003-EventScheduler_Website\sutd-scheduler-website\mysite\fullcalendar_lib/jquery.min.js'></script>
<script src='C:\Users\Tea\Desktop\50.003-EventScheduler_Website\sutd-scheduler-website\mysite\fullcalendar_lib/moment.min.js'></script>
<script src='C:\Users\Tea\Desktop\50.003-EventScheduler_Website\sutd-scheduler-website\mysite\fullcalendar_lib/fullcalendar.js'></script>
{% endblock headcontent %}

{% block content %}
    <h1>Schedule Home</h1>
{% endblock content %}
